*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background: #17202A;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}
.header{
    width: 100%;
    height: 70px;
    line-height: 70px;
    text-align: center;
    color: #F39C12;
    background: #212F3D;
    display: flex;
    justify-content: center;
}
.boxes{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin: 0;
    padding: 20px;
}
.boxes .box{
    background: #212F3D;
    color: #F39C12;
    text-align: center;
    line-height: 2.5rem;
    letter-spacing: 2px;
    padding: 3px;
}
@media(max-width: 760px){
    .boxes{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        margin: 0;
        padding: 20px;
    }
}
@media(max-width: 600px){
    .boxes{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        margin: 0;
        padding: 20px;
    }
}
@media(max-width: 440px){
    .boxes{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        margin: 0;
    }
}